---
import Layout from "../layouts/Layout.astro";
import FilmSign from "../components/FilmSign.astro";
import films from "../data/films.json";

const filmsSortedByRating = films?.sort((a, b) => b.rating - a.rating);
const filmsWatchedThenUnwatched = filmsSortedByRating
  ?.filter((f) => f.watched)
  .concat(filmsSortedByRating?.filter((f) => !f.watched));
---

<Layout>
  <main
    class="min-h-screen overflow-hidden p-2 pb-32 md:p-4 md:pt-5 md:pb-64 bg-[url(/red-wall.png)] bg-linear-to-l from-red-900 to-red-500"
  >
    <div
      transition:animate="fade"
      class="w-full lg:w-11/12 xl:w-5/6 m-auto grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 2xl:grid-cols-6 gap-x-4 gap-y-8 md:gap-x-8 md:gap-y-16"
    >
      {
        filmsWatchedThenUnwatched &&
          filmsWatchedThenUnwatched.map((f, index) => (
            <a class="block" href={`/films/${f.id}`} transition:name={f.id}>
              <FilmSign
                id={f.id}
                ranking={index + 1}
                title={f.title}
                rating={f.rating}
                watched={f.watched}
              />
            </a>
          ))
      }
    </div>
  </main>
</Layout>
